@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "gilroy-normal";
  box-sizing: border-box;
}

.parant {
  margin-left: 23px;
}

.img {
  padding: 23px 0px 0px 0px;
}

.navbar {
  padding: 4px 50px 27px 80px;
  height: 90px;
}

.head {
  height: 90px;

}

.hidden1 {
  margin-top: 8px;
  height: 43px;
  border: 1px solid orange;
  color: orange;
  border-radius: 5px;
  font-size: 19px;
  box-sizing: border-box;
  padding: 10px 28px 2px 23px;
}


.div5 {
  margin-top: -30px;
}

.div5 a {
  margin-right: 26px;
  margin-top: -30px;
}